.task-title {
  font-weight: bold;
}

.task-desc {
  margin-top: 5px;
}

.task-actions {
  margin-top: 10px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .task-item {
    flex-direction: row;
    align-items: center;
  }

  .task-title,
  .task-desc {
    flex: 1;
  }

  .task-actions {
    justify-content: flex-end;
  }
  .success {
    color: green;
  }
  .warning {
    color: #bdbd0a;
  }
}
.pointer {
  cursor: pointer;
}
