/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  border-radius: 5px;
}

/* Flex utility classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: start;
  align-items: center;
}

/* Add some padding and margin */
.p-2 {
  padding: 10px;
}

.m-2 {
  margin: 10px;
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: auto;
  }
}
/* src/assets/main.css or in your <style> tags */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  /* border-bottom: 1px solid #ddd; */
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td::before {
    position: absolute;
    left: 6px;
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
  }
}
.pointer {
  cursor: pointer;
}
.btn-status {
  width: 80px;
}
.border {
  border: none !important;
}
